@model ProjectTravel.Models.Post;
@{
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main">
	<div class="pagetitle">
		<h2>Xác nhận xóa bài viết</h2>
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			<label asp-for="PostID">ID bài viết</label>
			<input type="text" class="form-control mb-3" asp-for="PostID" disabled />
		</div>
		<div class="form-group col-md-6">
			<label asp-for="Title">Tiêu đề</label>
			<input type="text" class="form-control mb-3" asp-for="Title" disabled />
		</div>
	</div>
	<!-- Begin Form -->
	<form asp-action="Delete" method="post">
		<input type="hidden" asp-for="PostID" />
		<a class="btn btn-app bg-warning p-2" href="javascript:history.back()">
			<i class="bi bi-arrow-left"></i> Quay lại
		</a>
		<button type="submit" class="btn btn-app bg-danger p-2">
			<i class="bi bi-trash"></i> Xóa Menu
		</button>
	</form>
	<!-- End Form -->
</main>