@model ProjectTravel.Areas.Admin.Models.Account;
@using ProjectTravel.Ultilities;

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Thông tin tài khoản</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a style="text-decoration:none" href="/Admin/Home/Index">Trang chủ</a></li>
                <li class="breadcrumb-item">Tài khoản</li>
                <li class="breadcrumb-item active">Thông tin tài khoản</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="@Functions._Avatar" alt="Profile" class="rounded-circle">
                        <h2>@Functions._UserName</h2>
                        <h3>@Functions._FullName</h3>
                        <div class="social-links mt-2">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <a style="text-decoration:none" asp-area="Admin" asp-controller="Profile" asp-action="Index"><button class="nav-link" data-bs-toggle="tab">Thông tin</button></a>
                            </li>

                            <li class="nav-item">
                                <a style="text-decoration:none" asp-area="Admin" asp-controller="Profile" asp-action="EditProfile"><button class="nav-link" data-bs-toggle="tab">Cập nhật</button></a>
                            </li>

                            @* <li class="nav-item">
                            <a style="text-decoration:none" asp-area="Admin" asp-controller="Profile" asp-action="EditAccount"><button class="nav-link" data-bs-toggle="tab">Cài đặt</button></a>
                            </li> *@

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab">Đổi mật khẩu</button>
                            </li>

                        </ul>
                        <!-- Bordered Tabs -->
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-overview">
                                <h5 class="card-title">Thay đổi mật khẩu</h5>

                                <form asp-area="Admin" asp-controller="Profile" asp-action="EditPassWord" method="post">

                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label">Nhập mật khẩu hiện tại</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="password" class="form-control" name="passWord">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label">Nhập mật khẩu mới</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="password" class="form-control" name="newPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label">Nhập lại mật khẩu mới</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="password" class="form-control" name="renewPassword">
                                        </div>
                                    </div>

                                    <div class="col-12 text-center text-danger" id="mess">
                                        <h6 style="color:red">@Functions._Message</h6>
                                    </div>

                                    <div class="text-center m-5"  style="margin-top:50px;margin-bottom:10px">
                                        <a asp-area="Admin" asp-controller="Customer" asp-action="Index" class="btn btn-app bg-warning m-1"><span class="bi bi-arrow-left"></span> Quay lại</a>
                                        <button type="submit" id="c_edit" class="btn btn-app bg-info m-1">Đổi mật khẩu</button>
                                    </div>

                                </form><!-- End Change Password Form -->

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
@{
    var summerNote = new ProjectTravel.Areas.Admin.Models.SummerNote("#Detail");
    <partial name="_SummerNote" model="summerNote" />
}